<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wut.screendbmysqlrx.Mapper.UcCarRealTimeCurrentMapper">

    <insert id="upsertOne" parameterType="com.wut.screendbmysqlrx.Model.UcCarRealTimeCurrent">
        INSERT INTO uc_car_real_time_current
        (
            user_phone,
            car_license,
            current_pile,
            real_speed,
            driving_direction,
            lane_number,
            report_time
        )
        VALUES
        (
            #{item.userPhone},
            #{item.carLicense},
            #{item.currentPile},
            #{item.realSpeed},
            #{item.drivingDirection},
            #{item.laneNumber},
            #{item.reportTime}
        )
        ON DUPLICATE KEY UPDATE
            current_pile = VALUES(current_pile),
            real_speed = VALUES(real_speed),
            driving_direction = VALUES(driving_direction),
            lane_number = VALUES(lane_number),
            report_time = VALUES(report_time)
    </insert>

</mapper>
